
@media (max-width: 1023px) {
    .product__filter {
        margin-top: 0;
    }
    .product__filter-page,
    .body__home-shopee-mall-list {
        display: none;
    }
    .body__home-shopee-mall-brand-list {
        display: flex;
       flex-direction: row;
    }
    .product__contain,
    .home__body-suggestion-container {
        margin: 10px;
    }
    .body__home-contentinfo-contain,
    .footer__app-top-coppyright,
    .body__home-footerinfo-contain {
        text-align: center;
    }
    .footer__app-top {
    margin: 0 5px;
    }
    
    .body__slide {
        margin-top: 0;
    }
    .home__body-suggestion-header,
    .home__body-topsearch,
    .body__home-shopee-mall-contain,
    .home__body-trend,
    .body__home-shopee-mall-brand-list {
        margin: 5px;
    }
    .product__filter-page-row {
        margin-left: auto;
    }



    /* product */

    .product__app-head-link {
        display: none;
    }
    
    .shop__info-contain {
        border-right: none;
    }
    .shop_info {
        padding: 5px;
        margin-top: 5px;
    }
    .product__detail {
        padding: 20px;
        margin-top: 5px;
    }
    .product__ratting {
        margin-top: 5px;
    }
    .product__ratting-cmt-avatar {
        justify-content: center;
    }
    .product__ratting-about-container {
        display: none;
    }
    .product__info {
        margin-top: 0;
    }

    .prdinfo__dcrs-status-ratting {
        padding-right: 5px;
    }
    .prdinfo__dcrs-status-rate-quantity-wrapper {
        padding: 0 10px;
    }
    .prdinfo__dcrs-status-sold-quantity-wrapper {
        padding-left: 10px;
    }
    
}

@media (min-width: 740px) and (max-width: 1023px) {
    .header__search,
    .header__app {
        height: calc(var(--header-height) - var(--header-navbar)) ;
        z-index: 1000;
    }
    .header__navbar {
        display: none;
    }
    .product__filter-sort {
        display: none;
    }
    .header__search-cart:hover .header__search-cart-contain {
        display: block;
    }
    .hide-on-tablet {
        display: none;
    }
    .header__search-cart {
        width: 30px;
    }
    .header__search-cart-contain {
        right: -20px;
    }
    

 }




@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .body__slide {
        margin-top: 5px;
    }
    .body__home-category-banner {
        display: none;
    }
    .body__home-shopee-mall-contain {
        display: none;
    }
    .product__filter {
        justify-content: space-around;
        padding: 0 10px;
    }

    .product__filter-sort {
        display: none;
    }

    .product__filter-btn {
        width: 120px;
    }

    .product__filter-pricerow,
    .product__filter-page-row {
       display: none;
    }
    .header__app {
        height: calc(var(--header-height-on-mobile) - var(--header-navbar));
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .product__info-image {
        margin-top: calc(var(--header-height-on-mobile) - var(--header-navbar));
    }


    .header__navbar {
        display: none;
    }
    .product__filter-page-row-item {
        width: 30px;
    }
    .header__search {
        justify-content: space-between;
        height: calc(var(--header-height-on-mobile) - var(--header-navbar));
    }
    .header__search-contain {
        display: none;
    }
    .header__search-menu-tabmobile {
        margin-right: 0;
        width: unset;
        order: 3;
        
    }
    
    .header__search-cart-icon,
    .header__search-menu-tabmobile-icon {
        font-size: 3rem;
        color: #002140;
        margin: 0 10px;
    }
    
    .header__search-logo {
        width: 120px;
        max-width: 120px;
        order: 2;
    }
    .header__search {
        width: unset;
       
    }
    .header__search-cart {
        width: unset;
        order: 1;
    }
    .product__info {
        padding: 0;
    }
    
    .product__info-image-share {
        display: none;
    }
    .product__info-color {
        flex-wrap: wrap;
    }
    .product__info-buy,
    .product__info-quantity,
    .product__info-color,
    .product__info-dcrs-code-discount {
        display: none;
    }
    .product__info-color-name {
        margin-top: 8px;
    }

    .product__info-buy,
    .product__info-color,
    .product__info-quantity,
    .product__info-dcrs-code-discount {
        margin-top: 20px; 

    }
    .product__info-quantity-text {
        display: none;
    }
    .product__info-dcrs-code-discount-item {
        padding: 3px 2px;
    }
    .product__info-dcrs-code-discount-text {
        width: 70px;
        margin-right: 10px;
    }
    .product__detail-header {
        margin-bottom: 10px;
    }
    .product__info-dcrs-discount {
        display: none;
    }
    .product__info-dcrs-price {
        display: none;
    }
    .product__info-dcrs-currentprice {
        font-size: 3rem;
    }
    .product__info-guaranteed {
        margin-top: 5px;
        padding: 16px 0 4px 0;
    }
    .product__info-dcrs-status {
        margin-bottom: 10px;
    }
    .body__slide-wrapper {
        margin-top: 60px;
    }
}

@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
    .header__search-cart:hover .header__search-cart-contain {
        display: block;
    }
}

@media (min-width: 1024px) and (max-width: 1239px) {
   .body__home-shopee-mall-img {
        margin-right: 0px;
   }
   .header__search-cart:hover .header__search-cart-contain {
    display: block;
    }
}